/* CUSTOM FONT */

@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norsebold-webfont.woff2') format('woff2'),
         url('./fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* END OF CUSTOM FONT */


/* CSS RESET */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
margin: 0;
}

body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

#root, #__next {
isolation: isolate;
}

/* END OF CSS RESET */


body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


/* LEFT-SIDE PART */

.side {
    display: flex;
    flex-direction: column;

    width: 35%;
    background: url("./img/medium.jpg") darkgreen;
    background-position: center;
    background-size: cover;
}

.side-logo {
    font-family: norsebold;
    font-size: 3rem;
    font-weight: normal;
    background-color: rgb(0 0 0 / 50%);
    margin-top: 25vh;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
}

.logo {
    height: 7.75rem;
    margin: 0.75rem 0;
}

.side-footer {
    margin: auto auto 1rem;
    text-align: center;
    color: white;
    font-size: 12px;
}

.side-footer a {
    color: white;
}

/* END OF LEFT-SIDE PART */


/* RIGHT-SIDE PART */

.main {
    background-color: yellow;
    width: 65vw;
}

/* END OF RIGHT-SIDE PART */